{% extends "base.html" %}

{% block content %}
<div class="content-wrapper">
    <div class="content-header bg-light border-bottom">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-md-12">
                    <h1 class="m-0">Planejamento</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <p>Bem-vindo ao módulo de Planejamento.</p>
        </div>
    </section>
</div>
{% endblock %}
