{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Adicionar Nova Imagem</h1>
    <form method="post" enctype="multipart/form-data" class="shadow p-4 bg-light rounded">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <!-- Campo Título -->
        <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" id="titulo" name="titulo" class="form-control" placeholder="Digite o título">
        </div>

        <!-- Campo Descrição -->
        <div class="mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            <textarea id="descricao" name="descricao" class="form-control" rows="3" placeholder="Digite a descrição"></textarea>
        </div>

        <!-- Campo Imagem -->
        <div class="mb-3">
            <label for="imagem" class="form-label">Imagem</label>
            <input type="file" id="imagem" name="imagem" class="form-control">
        </div>

        <!-- Botão de Submissão -->
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>
{% endblock %}
