{% load static %}
<footer class="bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <!-- Destaques -->
            <div class="col-md-4">
                <h5 class="text-uppercase text-warning">Destaques</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="footer-link">Unifesspa abre edital para programa de permanência de alunos</a></li>
                    <li><a href="#" class="footer-link">De olho no mercado de trabalho: Estudantes da EJA farão curso profissionalizante</a></li>
                    <li><a href="#" class="footer-link">Planetário completa 1 ano com destaque para educação e turismo</a></li>
                </ul>
            </div>
            <!-- Mais Acessados -->
            <div class="col-md-4">
                <h5 class="text-uppercase text-info">Mais Acessados</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="footer-link">Processo de seleção e certificação para Diretor e Vice-diretor</a></li>
                    <li><a href="#" class="footer-link">Matrículas abertas para Educação de Jovens e Adultos</a></li>
                    <li><a href="#" class="footer-link">Inscrições para Exame de Suplência do Ensino Fundamental</a></li>
                </ul>
            </div>
            <!-- Redes Sociais -->
            <div class="col-md-4 text-end">
                <h5 class="text-uppercase text-success">Acompanhe-nos</h5>
                <a href="#" class="text-white me-3"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="#" class="text-white me-3"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="#" class="text-white"><i class="fab fa-youtube fa-2x"></i></a>
            </div>
        </div>
        <hr class="border-secondary">
        <p class="text-center mb-0">&copy; 2024 SEMED Canaã dos Carajás. Todos os direitos reservados.</p>
    </div>
</footer>
