{% extends 'base.html' %}

{% block content %}
<h2>Pesquisa de Preços</h2>
<a href="{% url 'cadastrar_item' %}" class="btn btn-primary">Cadastrar Item</a>
<a href="{% url 'cadastrar_proponente' %}" class="btn btn-secondary">Cadastrar Proponente</a>
<a href="{% url 'cadastrar_proposta' %}" class="btn btn-success">Cadastrar Proposta</a>
<a href="{% url 'apuracao_resultado' %}" class="btn btn-info">Apuração e Resultado</a>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Item</th>
            <th>Proponente</th>
            <th>Preço Unitário</th>
            <th>Data da Proposta</th>
        </tr>
    </thead>
    <tbody>
        {% for proposta in propostas %}
        <tr>
            <td>{{ proposta.item.nome }}</td>
            <td>{{ proposta.proponente.nome }}</td>
            <td>R$ {{ proposta.preco_unitario }}</td>
            <td>{{ proposta.data_proposta }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
