{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}Língua Portuguesa - Professores{% endblock %}

{% block extra_head %}
<link rel="icon" type="image/x-icon" href="{% static 'img/logocanaa2.ico' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<link rel="stylesheet" href="{% static 'assets/dist/css/adminlte.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/dist/css/stylePortugues.css' %}">

{% endblock %}

{% block content %}
<div class="content-wrapper" style="margin: 0; padding: 0; flex: 1; display: flex; flex-direction: column; height: 100vh; overflow: hidden;">
    <!-- Header -->
    <div class="content-header bg-light border-bottom">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-md-12">
                    <h1 class="m-0">Língua Portuguesa Anos Iniciais- Professores</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Content -->
    <section class="content" style="padding: 0; overflow-y: auto; flex: 1;">
        <div class="container-fluid">
            <!-- Cards -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>{{ total_corretas }}</h3>
                            <p>Acertos</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-check-circle"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>{{ total_erradas }}</h3>
                            <p>Erros</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-times-circle"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{ percentual_acertos }}%</h3>
                            <p>Percentual de Acertos</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-percentage"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>{{ percentual_erros }}%</h3>
                            <p>Percentual de Erros</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-exclamation-triangle"></i>
                        </div>
                    </div>
                </div>
            </div>
            

            <!-- Formulário de Upload -->
            <!-- <form method="post" enctype="multipart/form-data" style="margin: 20px 0;"> -->
            <form method="post" enctype="multipart/form-data" action="{% url 'habilidade_prof_view' %}">

                {% csrf_token %}
                <div class="form-group d-flex align-items-center">
                    <label for="planilha" class="mr-2">Upload da Planilha:</label>
                    <input type="file" class="form-control mr-2" name="planilha" id="planilha" required style="width: auto;">
                    <button type="submit" class="btn btn-primary" name="upload_planilha">Upload</button>
                </div>
            </form>

            {% if uploaded_file_url %}
            <p>Planilha carregada com sucesso! <a href="{{ uploaded_file_url }}">Baixar planilha</a></p>
            {% endif %}

            <!-- Tabela -->
            <form method="post">
                {% csrf_token %}


                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Habilidade</th>
                                <th>401</th>
                                <th>403</th>
                                <th>404</th>
                                <th>406</th>
                                <th>408</th>
                                <th>409</th>
                                <th>410</th>
                                <th>413</th>
                                <th>414</th>
                                <th>415</th>
                                <th>417</th>
                                <th>421</th>
                                <th>423</th>
                                <th>426</th>
                                <th>428</th>
                                <th>429</th>
                                <th>430</th>
                                <th>432</th>
                                <th>433</th>
                                <th>434</th>
                                <th>435</th>
                                <th>436</th>
                                <th>437</th>
                                <th>438</th>
                                <th>439</th>
                                <th>441</th>
                                <th>442</th>
                                <th>447</th>
                                <th>451</th>
                                <th>471</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Dados serão preenchidos dinamicamente -->
                        </tbody>
                    </table>
                    <button id="carregarBtn" class="btn btn-success mt-3">Salvar Dados</button>
                </div>
                

            </form>
        </div>
    </section>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'assets/dist/js/adminlte.min.js' %}"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tabela = document.querySelector('table tbody');

        // Função para carregar dados da API
        function carregarDados(tipo = 'inicial') {
            fetch(`/conselho/planetario/carregar-habilidades/${tipo}/`)
                .then(response => response.json())
                .then(data => {
                    tabela.innerHTML = ''; // Limpar tabela antes de adicionar novos dados
                    data.habilidades.forEach(habilidade => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                            <td>${habilidade.item}</td>
                            <td>${habilidade.habilidade}</td>
                            ${Object.keys(habilidade.turmas).map(turma =>
                                `<td>${habilidade.turmas[turma] === 1 ? 'Sim' : 'Não'}</td>`
                            ).join('')}
                        `;
                        tabela.appendChild(row);
                    });
                })
                .catch(error => console.error('Erro ao carregar dados:', error));
        }

        // Carregar os dados ao carregar a página
        carregarDados();
    });
</script>


    
<!-- <script>
    {% if messages %}
    {% for message in messages %}
    Swal.fire({
        icon: 'success',
        title: 'Sucesso',
        text: '{{ message }}',
        confirmButtonText: 'OK'
    });
    {% endfor %}
    {% endif %}
</script> -->
{% endblock %}